body,
html,
#root {
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
#root {
	align-items: center;
	background-color: rgb(255, 202, 40);
	background-image: linear-gradient(transparent, rgb(230, 96, 0)),
		radial-gradient(ellipse 80% 110%, transparent 40%, rgb(230, 96, 0));
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	padding: 0px 0 220px;
}
